

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #496587;
    padding: 20px;
    text-align: center;
    color: #fff;
    padding-bottom: 0%; /*removed the extra space under the logo*/ 
}

header img { /*logo*/ 
    width: 150px;
    height: auto;
}

nav {
    background-color: #0E274F;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
}

nav a { /*buttons*/
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    display: block;
    transition: background-color 0.3s ease; /*makes hover transition smooth*/
    width: 100%; /*makes button containers use the entire space available*/ 
}

nav a:hover {
background-color: #DFE2E5; 
color: #0E274F;
}

main {
    padding: 20px;
}


/*main css ^^ */

.nav2 {
    font-size:xx-small;
    text-align: center;
    padding: 0;
    background-color: #496587;
    color: #DFE2E5;
    margin-top: -4px;  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav2 h1 {
    margin: 0%;
    padding: 0.8%;
   line-height: 1;
   font-weight: 100;
   width: 100%;
   }

.nav2 :hover {
    color: #0E274F;
    background-color: #DFE2E5;
    transition: background-color 0.3s ease;
}

.styles {
    color: #0E274F;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 45px;
}

.img-container {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.img-container img {
    width: 280px;
    height: auto;
    transition: opacity 0.3s ease;
}

.img-container img:hover {
    opacity: 0.7; /* Change the opacity on hover */
}

.img-subtitles {
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 140px;
}

.img-subtitles h1 {
    font-weight: 50;
    font-size:x-large;
    color: #0E274F;
}

.testimonials {
    color: #0E274F;
    margin-left: 45px;
}

.testimonial-container {
    margin-left: 45px;
    margin-right: 45px;
    color: #0E274F;
    padding-bottom: 20px;
}

.name {
    font-weight: bold;
    padding-bottom: 15px;
}

.loremipsum {
    padding-bottom: 15px;
    text-align: justify;
}