


        body {
            font-family: 'Arial', sans-serif;
            background-color:#DFE2E5;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #496587;
            padding: 20px;
            text-align: center;
            color: #fff;
            padding-bottom: 0%; /*removed the extra space under the logo*/ 
        }

        header img { /*logo*/ 
            width: 150px;
            height: auto;
        }

        nav {
            background-color: #0E274F;
            text-align: center;
            padding: 10px 0;
            display: flex;
            justify-content: space-evenly;
        }

        nav a { /*buttons*/
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            margin: 0 10px;
            display: block;
            transition: background-color 0.3s ease; /*makes hover transition smooth*/
            width: 100%; /*makes button containers use the entire space available*/ 
        }

    nav a:hover {
        background-color: #DFE2E5; 
        color: #0E274F;
    }

        main {
            padding: 20px;
        }
  

        .bannerpic { 
            max-width: 100%;
            overflow: hidden;
        }

       .bannerpic img {
        width: 100%;
        height: auto;
       }

.about {
    font-size:xx-small;
    text-align: center;
    padding: 0;
    background-color: #496587;
    color: #DFE2E5;
    margin-top: -4px; /* there was a tiny line between this and the banner pic above, this was the only way I could remove it*/ 

}

.about h1 {
    margin: 0%;
    padding: 0.8%;
   line-height: 1;
   font-weight: 100;
}


.clientpic {
    margin-top: 70px;
    margin-left: 150px;
    margin-bottom: 100px;
}

.clientpic img {
    height: 400px;
    width: auto;
}

.text {
    color: #0E274F;
    margin-left: 500px;
    margin-right: 150px;
    margin-top: -500px;
    text-align: justify;
}

.title1 { /*meet claudia*/ 
    font-weight: bold;
    font-size:xx-large;
}

.title2 { /*photography style */ 
   font-weight: bold;
   font-size:xx-large;
   margin-top: 25px;
}

.text1 {
margin-top: 25px;
}

.text2 {
    margin-top: 25px;
}



